
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

html, body {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	border:none;
	font-size: 16px;
    background-color: #fafafa;
}

.view {
	width:100%;
	border:none;
}

header {
	position:fixed;
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	
	background-color: #535454;
 	background-image: -webkit-linear-gradient(top, #535454, #2C2D2D); 
	background-image: -moz-linear-gradient(top, #535454, #2C2D2D); 
 	background-image: -ms-linear-gradient(top, #535454, #2C2D2D); 
	background-image: -o-linear-gradient(top, #535454, #2C2D2D); 
    background-image: linear-gradient(top, #535454 0%, #2C2D2D 51%);

    color: #fff;
    border-bottom: solid 1px #eee;
}

h1 {
	margin:0;
}



.swipe{
	position:absolute;
	width:100%;
	left:100%;
	-webkit-transition: all 0.75s ease-in-out;
}

.scrollable {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }

.from-right
{
	left:0%;
}



button{
	background-color: rgba(52,122,232,0.8);
	background-image: -webkit-linear-gradient(top, #39A7DB, #0D78B6); 
	background-image: -moz-linear-gradient(top, #4D90FE, #357AE8); 
	background-image: -ms-linear-gradient(top, #4D90FE, #357AE8); 
	background-image: -o-linear-gradient(top, #4D90FE, #357AE8);  
	background-image: linear-gradient(top, #4D90FE, #357AE8); 		
	padding:15px;		
	border-radius:2px;
	color: white;
	border: 1px solid #2F5BB7;
	font-size:140%;
	cursor:pointer;
}

button:active {
	background-color: rgba(52,122,232,0.8);
	background-image: -webkit-linear-gradient(top, #2896CA, #0C67A5); 
	background-image: -moz-linear-gradient(top, #4D90FE, #357AE8); 
	background-image: -ms-linear-gradient(top, #4D90FE, #357AE8); 
	background-image: -o-linear-gradient(top, #4D90FE, #357AE8);  
	background-image: linear-gradient(top, #4D90FE, #357AE8); 		
}



nav {
	height: 60px;	
	border-top: 1px solid #DDD;
	background-color: rgba(52,122,232,0.8);
	background-image: -webkit-linear-gradient(top, #AAA, #888); 
	background-image: -moz-linear-gradient(top, #4CC1EF, #0D78B6); 
	background-image: -ms-linear-gradient(top, #4CC1EF, #0D78B6); 
	background-image: -o-linear-gradient(top, #4CC1EF, #0D78B6);  
	background-image: linear-gradient(top, #4CC1EF, #0D78B6); 		
	
	display: -webkit-box;
	position: fixed;
	bottom:0;
	left:0;
	right:0;	
}

nav li{
	list-style:none;
	-webkit-box-flex:1;
	display: -webkit-box;
	width:100px;
}

nav li a{
	display:-webkit-box;
	-webkit-box-flex:1;
	-webkit-box-pack:center;
	border-radius:3px;
	margin: 3px 2px 2px 2px;
	font-size: 100%;
	font-weight: bold;
	text-align:center;
	text-decoration:none;
	-webkit-box-align:end;
}

nav li a:active{
	background-color: rgba(255,255,255,0.15);
	color:#fff;
}

a[href="#events"] {
	background: url(../img/optionen.png) no-repeat center top;
}
.