# TEST
www/test.html
www/test

#OS specific and not allowed for build.phonegap.com
www/cordova-*.js
www/phonegap.js
www/barcodescanner.js
www/cordova.js

#GOODSYNC
_gsdata_/

style/theme.css
code/library.*.js
