# always-ignore extensions
*.diff
*.log
*.err
*.jar
*.zip

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

.DS_Store

consilium/**/*

consilium.*

cordova/**/*

CordovaLib/**/*
