#OS specific and not allowed for build.phonegap.com
www/cordova-*.js
www/phonegap.js
www/barcodescanner.js
www/cordova.js

#GOODSYNC
_gsdata_/

# TEST
www/test.html
www/test

# always-ignore extensions
*.diff
*.log
*.err
*.jar
*.zip
*.DS_Store

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject


code/library.0.1.7.js

style/theme.css
