
.button, .button-text, .button-action
{
	color:white;
	cursor:pointer;	
	opacity:0.9;
	border-radius:3px;
	text-decoration: none;		
	white-space: nowrap;
	padding:3px;
	vertical-align: middle;
	-webkit-user-select: none;
	max-height:38px;
	margin-top:2px;
	padding-left:5px;	
	padding-right:5px;	
    font-size:100%;
}

.button-text
{
	/* padding:0px; */
	height:32px;    
	margin-top:5px;
	width:auto;
	/* 	IE */
	line-height:0px;
}

@media screen and (min-device-width:768px){
	.button-action {
		padding-top:8px;	
		padding-left:20px;	
		padding-right:20px;	
		padding-bottom:8px;	
		border-radius:4px;
	}
}
@media screen and (max-device-width:768px) {
	.button-action {
		padding-top:4px;	
		padding-left:10px;	
		padding-right:10px;	
		padding-bottom:4px;	
		border-radius:4px;
	}
}

.button:hover, .button-text:hover, .button-action:hover {
	opacity:1;
	/* box-shadow: inset 2px 2px 2px #0C67A5; */
}
.colorless {
    
    color: #FAFAFA;
	background:rgba( 128,148,166,1);
/* 	background-color: #464646; */
/*    	background-image: -webkit-linear-gradient(#696969, #464646);  */
/*    	background-image:    -moz-linear-gradient( #696969, #464646); */
/*    	background-image:     -ms-linear-gradient( #696969, #464646); */
/*    	background-image:      -o-linear-gradient( #696969, #464646); */
/*    	background-image:         linear-gradient( #696969, #464646); */

	border: 1px solid rgba(220,220,220,0.8);
}

.blue
{	background-color: #0D78B6;
   	background-image: -webkit-linear-gradient(#4AB8EC, #0D78B6); 
   	background-image:    -moz-linear-gradient( #4AB8EC, #0D78B6);
   	background-image:     -ms-linear-gradient( #4AB8EC, #0D78B6);
   	background-image:      -o-linear-gradient( #4AB8EC, #0D78B6);
   	background-image:         linear-gradient(#4AB8EC, #0D78B6);
   	
	border: 1px solid #0C67B5;
}
.grey{
	color: #333;
	background-color: #eaeaea;
	background-image: -webkit-linear-gradient(#FAFAFA, #DADADA);
	background-image: -moz-linear-gradient(#FAFAFA, #DADADA);
	background-image: -ms-linear-gradient(#FAFAFA, #DADADA);
	background-image: -o-linear-gradient(#FAFAFA, #DADADA);
	background-image: linear-gradient(#FAFAFA, #DADADA);

	border: 1px solid #BBB;
	border-bottom-color: #A5A5A5;
}
.red
{
	background-color: #d14837; 
 	background-image: -webkit-linear-gradient( #FE7054, #D14836); 
 	background-image: -moz-linear-gradient(#FE7054, #D14836); 
 	background-image: -ms-linear-gradient( #FE7054, #D14836); 
 	background-image: -o-linear-gradient( #FE7054, #D14836); 
 	background-image: linear-gradient( #FE7054, #D14836); 

	border: 1px solid #C92611;
}
.green
{
	background-color: #60b044;
	background-image: -webkit-linear-gradient(#8add6d, #60b044);
	background-image: -moz-linear-gradient(#8add6d, #60b044);
	background-image: -ms-linear-gradient(#8add6d, #60b044);
	background-image: -o-linear-gradient(#8add6d, #60b044);
	background-image: linear-gradient(#8add6d, #60b044);
	
	border: 1px solid #5ca941;
}