
form {
	position:relative;
	
	margin:1%;
	color:#000;
	padding:0px;

	/*border:1px solid #Ccc;*/
    /* border-radius:10px */;
}

fieldset {
    
	position:relative;
	color:#696969;
    border-radius: 6px;
	height:auto;
    
    background-color: #F5F5F5;
   	background-image: -webkit-linear-gradient( #FAFAFA, #F5F5F5); 
   	background-image:    -moz-linear-gradient(#FAFAFA, #F5F5F5);
   	background-image:     -ms-linear-gradient( #FAFAFA, #F5F5F5);
   	background-image:      -o-linear-gradient( #FAFAFA, #F5F5F5);
   	background-image:         linear-gradient( #FAFAFA, #F5F5F5);
   	
   	margin-bottom:20px;
} 		

fieldset > legend {
    text-align:left;
}

fieldset > div {
	position:relative;
	text-align:left;
	padding-top:10px;
}
fieldset > span {
	position:relative;
	text-align:left;
	padding-top:20px;
}

