
form {
	position:relative;
	
	margin:1%;
	color:#000;
	padding:0px;

	/*border:1px solid #Ccc;*/
    /* border-radius:10px */;
}

fieldset {
    
	position:relative;
	color:#696969;
    border-radius: 6px;
	height:auto;
    
    background-color: #F5F5F5;
   	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#F2F2F2));
   	background-image: -webkit-linear-gradient(top, #FAFAFA, #F5F5F5); 
   	background-image:    -moz-linear-gradient(top, #FAFAFA, #F5F5F5);
   	background-image:     -ms-linear-gradient(top, #FAFAFA, #F5F5F5);
   	background-image:      -o-linear-gradient(top, #FAFAFA, #F5F5F5);
   	background-image:         linear-gradient(top, #FAFAFA, #F5F5F5);
} 		

fieldset > legend {
    text-align:left;
}

fieldset > div {
	position:relative;
	text-align:left;
	padding-top:20px;
}

fieldset > div > p {
	margin-right:120px;
}

fieldset > div > button {
	position:absolute;
	top:0px;
    right:0px;
}



input[type="range"] {
	margin-top:10px;
    -webkit-appearance: none;
    background-color: grey;
    height: 10px;
    width:100%;
}
 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 36px;
    height: 36px;
 
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
	background-color: #eaeaea;
	background-image: -webkit-linear-gradient(#FAFAFA, #DADADA);
	background-image: -moz-linear-gradient(#FAFAFA, #DADADA);
	background-image: -ms-linear-gradient(#FAFAFA, #DADADA);
	background-image: -o-linear-gradient(#FAFAFA, #DADADA);
	background-image: linear-gradient(#FAFAFA, #DADADA);

	border: 1px solid #BBB;
}