
form {
	position: relative;
	
	margin: 0;
	color: #000;
	padding: 0;
    
  /* Mobile 10px; */
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

input[type=text],
input[type=password],
input[type=email] {
  box-sizing: border-box;
  display: block;
  margin: 0 0 10px 0;
  padding: 5px;
  width: 100%;
}

fieldset {
	position: relative;
	color: #696969;
    border-radius: 6px;
	height: auto;
    
	border: 1px solid #696969;
	background-color: #F5F5F5;
	background-image: -webkit-linear-gradient( #FAFAFA, #F5F5F5); 
	background-image:    -moz-linear-gradient(#FAFAFA, #F5F5F5);
	background-image:     -ms-linear-gradient( #FAFAFA, #F5F5F5);
	background-image:      -o-linear-gradient( #FAFAFA, #F5F5F5);
	background-image:         linear-gradient( #FAFAFA, #F5F5F5);
	
	/* Mobile 10px */
	margin-bottom: 1%;
} 		

fieldset > legend {
	color: #696969;
	text-align: left;
}

fieldset > div {
	position: relative;
	text-align: left;
	padding-top: 5px;
}

fieldset > span {
	position: relative;
	text-align: left;
	padding-top: 20px;
}

.login label {
  display: block;
}

.login input[type=reset] {
	float: left;
	margin: 0;
  width: 49%;
}

.login input[type=submit] {
  float: right;
  margin: 0;
  width: 49%;
}

