
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

html, body {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:100%;
	overflow:hidden;
	padding: 0px;
	margin: 0px;
	border:none;
    font-family: Verdana;
	background-color: #FAFAFA;
}

