  /* LISTE Next */
 .listeNext {
	position:relative;
	margin:0;
	padding:0;
}

.listeNext > li{
 	position:relative;
 
    padding-left:8px;
    padding-right:8px;
    
	list-style:none;
	text-align:left;
	cursor:pointer;
    overflow-y:hidden;
    overflow-x:hidden;
	border-bottom:1px solid #CCCCCC; 
}
.listeNext > li:last-child{
	border-bottom:none; 
}

.listeNext > li.selected {
	background:rgba(100,150,200,0.6);
}
 
 /* LISTE */
 .liste {
	position:relative;
	border-radius:10px;
    margin-left:10px;
    padding-left:0px;
    padding-right:10px;
}

 .liste > li{
 	position:relative;
	border: 1px solid #CCCCCC;    
	list-style:none;
	border-bottom:none;
	height:50px;
	cursor:pointer;
    overflow-y:hidden;
    overflow-x:hidden;
    background-color: #F5F5F5;
   	background-image: -webkit-linear-gradient(#FAFAFA, #F5F5F5); 
   	background-image:    -moz-linear-gradient( #FAFAFA, #F5F5F5);
   	background-image:     -ms-linear-gradient( #FAFAFA, #F5F5F5);
   	background-image:      -o-linear-gradient( #FAFAFA, #F5F5F5);
   	background-image:         linear-gradient( #FAFAFA, #F5F5F5);
}
.liste > li.selected {
	background:rgba(100,150,200,0.6);
}
.selected {
	background:rgba(100,150,200,0.6);
}

.itemIcon {
		position: absolute;
		top : 5px;
		left: 5px;
		right: 5px;
		width: 40px;
		height:40px;
		border-radius:20px;
		color:#FFF;
		font-size:1.8em;
}

.liste > span {
    float:left;   
}

.liste > li:first-child {
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}
.liste > li:last-child {
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	border-bottom:1px solid #CCCCCC;  
}

.selectedItem {
	height:180px !important;
    overflow-x:scroll !important;
}

/**
 * ROW
**/
.row_title { padding-right:60px; }
.row_zeit { font-size:90%; }
.row_detail {
	width:100%;
	border-top:1px solid rgba(200,200,200,1);
	padding:4px;
	margin:4px;
}
.row_caret {
	position:absolute;
	right:0px; 
	width:18px; 
	height:18px
}
.row_value {
	color:white;
	border-radius:3px;
	float:right;
	font-size:110%;
	padding:7px;
	margin-right:20px;
}