  /* LISTE Next */

fieldset.liste {
  padding: 0;
}

.listeNext {
  position: relative;
  margin: 0;
  padding: 0;
}

.listeNext > li {
  position: relative;
  padding: 2px;
  list-style: none;
  text-align: left;
  cursor: pointer;
  overflow-y: hidden;
  overflow-x: hidden;
  border-bottom: 1px solid #DCDCDC; 
  border-top: 1px solid #FFF; 
}
.listeNext > li:first-child {
  border-top: none;
  margin-top: 10px;
}

.listeNext > li:last-child {
  border-bottom: none;
  margin-bottom: 10px;
}

.listeNext > li.selected {
  border-top-color: rgba(100, 150, 200, 0.6);
  background: rgba(100, 150, 200, 0.6);
}
 
/**
 * ROW
**/

.listeNext .row {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  width: 100%;
  margin: 0;
  min-height: 20px;
  padding: 8px;
}

.row_caretLeft {
  position: absolute;
  top: 0px; bottom: 0px; left: -5px;
  margin: auto;
  width: 18px; 
  height: 18px;
}

.row_title { 
  position: relative;
  padding-right: 80px; 
  padding-left: 5px;
}

.row_value {
  font-size: 110%;
  position: absolute;
  text-align: right;
  top: 0; bottom: 0; right: 30px;
  margin: auto;
  min-width: 20px;
  height: 22px;
  padding: 6px;
  border-radius: 4px;
  color: white;
}

.row_detail {
  margin: 0px;
  padding: 0px;
}

.row_delete {
  position: absolute;
  text-align: right;
  top: 0; bottom: 0; right: 10px;
  margin: auto;
  min-height: 30px;
  height: 18px;
  border-radius: 4px;
}

.row_delete.button {
  line-height: 30px;
  padding: 0 10px;
}

/*  .row_detail:not(:empty) */

.row_detail:not(:empty) {
  border-top: 1px solid rgba(200,200,200,1);
  padding: 5px; 
  margin: 5px;
}

.row_caretRight {
  position: absolute;
  top: 0px; bottom: 0px; right: 12px;
  margin: auto;
  width: 18px; 
  height: 18px;
}