@import "view.css";
@import "toggle.css";
@import "spinner.css";
@import "liste.css";
@import "button.css";
@import "form.css";

* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

html, body {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:100%;
	overflow:hidden;
	padding: 0px;
	margin: 0px;
	border:none;
    font-family: Verdana;
	background-color: #FAFAFA;
}

/* SCROLLER */
.scrollableX {
	left:0px;
	margin-left:30px;
	margin-right:20px;
	overflow-x:scroll;
	overflow-y:hidden;
 }
 
.scrollableY {
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;	
}

.middle {
	left:0;
}

.right {
	left:100%;
}

.left {
	left:-100%;
}


/* TEXTBAUSTEINE */
.intro {
	margin: 5% 10% 10% 10%;
	width:80%;
	border-radius:12px;
	border:1px solid #CCCCCC;  
}


/* CHART */     
.chart {
	height:300px;
	min-height:300px;
	max-height:300px;
	background:rgba(100,150,200,0.8);
	width:100%;
}

.movePoint {
    cursor: move;
}

.popupPoint {
    cursor: pointer;
}

/* Assets */
.big {
	position: absolute;
	top:100px;
	left:40%;
	width:100px;
	height:100px;
	z-Index:10;	
	cursor:pointer;
}

