
/**
 * ROW
**/
.row {
	cursor:pointer;
	padding:8px;
}

.row_title { 
  font-size:110%; 
  padding-right:80px; 
  font-weight:bold;
}
  
.row_zeit { 
	font-size:90%; 
}

.row_detail {
	padding:0px; 
	margin:0px;
} 
.row_detail:not(:empty) {
  border-top:1px solid rgba(200,200,200,1);
  padding:4px;
  margin:4px;
}
.row_caret {
  position:absolute;
  top:18px;
  right:2px; 
  width:18px; 
  height:18px
}
.row_antiCaret {
  position:absolute;
  left:0px; 
  width:18px; 
  height:18px
}
.row_value {
  position:absolute; top:6px; right:16px;
  font-size:110%;
  color:white;
  padding:8px;
  height:24px;
  border-radius:3px;
  margin-right:5px;
}