.slider {
    position:relative;
    width:100%;
    margin-top:20px;
    padding:0;
    height:9px;
    background:#535454;
    border-radius:5px;
    border:1px solid #333;
    opacity:0.7;
    margin-left:2px;
    margin-bottom:20px;
    cursor:pointer; 
}

.smooth{
	
    -webkit-transition: left 0.6s ease-in-out;
   -moz-transition: left 0.3s ease-in-out;
   -ms-transition: left 0.3s ease-in-out;
   -o-transition: left 0.3s ease-in-out;
   transition: left 0.3s ease-in-out;
}

.slider > a {
    position:absolute; 
    left:40px; 
    top:-12px; 
 
    margin-top:1px;
    width:32px; 
    height:32px; 
    overflow:hidden;
    border-radius:18px; 
    border:1px solid #000;   
    -webkit-box-shadow: 0 0 6px #000;
    
    background-color: #eaeaea;
    background-image: linear-gradient(#FAFAFA, #DADADA);
    background-image: -webkit-linear-gradient(#FAFAFA, #DADADA);
    background-image: -moz-linear-gradient(#FAFAFA, #DADADA);
    background-image: -ms-linear-gradient(#FAFAFA, #DADADA);
    background-image: -o-linear-gradient(#FAFAFA, #DADADA);
}


input[type="range"] {
		margin-top:20px;
	  -webkit-appearance: none;
	  border-radius:5px;
    
   border:1px solid #333;
   background:#535454;
   opacity:0.7;
   height: 10px;
   width:100%;
   outline:none;
}
 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 36px;
    height: 36px;
    border:1px solid #000;
    	 
    border-radius: 18px;
    
		background-color: #eaeaea;
		background-image: linear-gradient(#FAFAFA, #DADADA);
		background-image: -webkit-linear-gradient(#FAFAFA, #DADADA);
		background-image: -moz-linear-gradient(#FAFAFA, #DADADA);
		background-image: -ms-linear-gradient(#FAFAFA, #DADADA);
		background-image: -o-linear-gradient(#FAFAFA, #DADADA);

	border:1px solid #000;
}
