
/* TOGGLE BUTTON */
/* CREDITS http://acidmartin.wordpress.com/2011/06/18/css3-iphone-toggle-buttons/ */

  .iphone-toggle-buttons input[type="checkbox"] + span::after
  {
      content: "aus";
  }

  .iphone-toggle-buttons input[type="checkbox"]:checked + span::after
  {
      content: "an";
  }

  .iphone-toggle-buttons
  {
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
  }

  .iphone-toggle-buttons
  {
      margin: 4px 0;
  }
  
  .iphone-toggle-buttons label
  {
  	float:right;
  }
  
  .iphone-toggle-buttons label,
  .iphone-toggle-buttons input[type="checkbox"] + span,
  .iphone-toggle-buttons input[type="checkbox"] + span::before,
  .iphone-toggle-buttons input[type="checkbox"] + span::after
  {
      display: inline-block;
  }

  .iphone-toggle-buttons label,
  .iphone-toggle-buttons input[type="checkbox"] + span
  {
      vertical-align: middle;
  }

  .iphone-toggle-buttons input[type="checkbox"] + span,
  .iphone-toggle-buttons input[type="checkbox"] + span::before,
  .iphone-toggle-buttons input[type="checkbox"] + span::after
  {
      border-radius: 4px;
  }

  .iphone-toggle-buttons input[type="checkbox"] + span::before,
  .iphone-toggle-buttons input[type="checkbox"] + span::after,
  .iphone-toggle-buttons input[type="checkbox"]:checked + span::before,
  .iphone-toggle-buttons input[type="checkbox"]:checked + span::after
  {
      top: 0;
  }

  .iphone-toggle-buttons input[type="checkbox"] + span::after,
  .iphone-toggle-buttons input[type="checkbox"]:checked + span::before
  {
      right: 0;
  }

  .iphone-toggle-buttons input[type="checkbox"] + span::before,
  .iphone-toggle-buttons input[type="checkbox"]:checked + span::after
  {
      left: 0;
  }

  .iphone-toggle-buttons input[type="checkbox"],
  .iphone-toggle-buttons input[type="checkbox"] + span::before,
  .iphone-toggle-buttons input[type="checkbox"] + span::after
  {
      position: absolute;
  }

  .iphone-toggle-buttons label
  {
      margin: 4px;
      cursor: pointer;
  }

  .iphone-toggle-buttons input[type="checkbox"]
  {
      opacity: 0;
  }

  .iphone-toggle-buttons input[type="checkbox"] + span
  {
      width: 100px;
      height: 40px;
      font: bold 15px/40px Verdana;
      color: #8c8c8c;
      text-transform: uppercase;
      border: solid 1px #bcbbbb;
      background: -moz-linear-gradient( #c8c8c8, #f3f3f3);
      background: -webkit-linear-gradient(#c8c8c8, #f3f3f3);
      background: -o-linear-gradient( #c8c8c8, #f3f3f3);
      background: -ms-linear-gradient(, #c8c8c8, #f3f3f3);
      background: linear-gradient( #c8c8c8, #f3f3f3);
      position: relative;
   	text-indent: -9999px; 
      opacity:0.9;
  }

  .iphone-toggle-buttons input[type="checkbox"] + span::before
  {
      content: "";
      width: 40%;
      height: 39px;
      border-top: solid 1px #fff;
      border-right: solid 1px #bebebe;
      background: -moz-linear-gradient(#cfcfcf, #f9f9f9);
      background: -webkit-linear-gradient( #cfcfcf, #f9f9f9);
      background: -o-linear-gradient(#cfcfcf, #f9f9f9);
      background: -ms-linear-gradient( #cfcfcf, #f9f9f9);
      background: linear-gradient( #cfcfcf, #f9f9f9);
      box-shadow: 1px 0 1px #bebebe;
  }

  .iphone-toggle-buttons input[type="checkbox"] + span::after
  {
      text-indent: 0;
      width: 62%;
      height: 42px;
      text-align: center;
  }

  .iphone-toggle-buttons input[type="checkbox"]:checked + span
  {
  	background-color: #0D78B6;
	background-image: -webkit-linear-gradient( #39A7DB, #0D78B6); 
	background-image:    -moz-linear-gradient( #39A7DB, #0D78B6);
	background-image:     -ms-linear-gradient( #39A7DB, #0D78B6);
	background-image:      -o-linear-gradient( #39A7DB, #0D78B6);
	background-image:         linear-gradient( #39A7DB, #0D78B6);

      color: #fff;
      text-shadow: -1px -1px #0d2046;
  }

  .iphone-toggle-buttons input[type="checkbox"]:checked + span::before
  {
      left: auto;
      box-shadow: -2px 0 1px #3a5e91;
  }

  .iphone-toggle-buttons input[type="checkbox"]:checked + span::after
  {
      border-top: solid 1px #0f2a4f;
      border-bottom: solid 1px #0f2a4f;
      border-left: solid 1px #2c5496;
      height: 40px;
      top: -1px;
      left: -1px;
      border-radius: 4px 0 0 4px;
  }

  .browser-support li.ie6,
  .browser-support li.ie7,
  .browser-support li.ie8
  {
      display: none;
  }
